<a href="https://colab.research.google.com/github/atulesh27/data-science/blob/main/pandas_referance_from_chatgpt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = ['g', 'e', 'e', 'k', 's']
series = pd.Series(data)

In [ ]:
series

0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data, index = [10,20,30,40,50])
print(ser)

10    g
20    e
30    e
40    k
50    s
dtype: object

In [ ]:
list1 = ['a', 'b', 'c', 'd']

print(pd.Series(list1))

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
"""dict1 = {'Geeks': 10,
  'for': 20,
  'geeks': 30}"""

dict2 = {"a": 1, "b": 2, "c": 3}




#pd.Series(dict1)
pd.Series(dict2)

a    1
b    2
c    3
dtype: int64

In [ ]:
df = pd.read_csv("file_csv")

In [ ]:
#Display the first 10 rows of a DataFrame.

df.head(10)

In [ ]:
#Display the last 5 rows of a DataFrame.

df.tail(5)

In [ ]:
#Get the column names of a DataFrame.
df.columns

In [ ]:
#Get the data types of each column in a DataFrame.
print(df.dtypes)

#Data Cleaning and Preparation

In [ ]:
#Handle missing values.

print(df.isnull().sum())

In [ ]:
#Fill missing values with the mean of a column:

df['column_name'].fillna(df['column_name'].mean(), inplace=True)

In [ ]:
#Drop rows with missing values.
df.dropna(inplace=True)

In [ ]:
#Drop columns with missing values.

df.dropna(axis=1, inplace=True)

In [ ]:
#Replace missing values with a specific value.

df['column_name'].fillna(0, inplace=True)

In [ ]:
#Convert a column to a different data type

df['column_name'] = df['column_name'].astype(int)

#Filtering and Sorting

In [ ]:
#Filter rows based on a condition.

filtered_df = df[df['column_name'] > 10]

In [ ]:
#Filter rows based on multiple conditions.

filtered_df = df[(df['column1'] > 10) & (df['column2'] < 20)]

In [ ]:
#Sort a DataFrame by a column

sorted_df = df.sort_values(by='column_name')

In [ ]:
#Sort a DataFrame by multiple columns.

sorted_df = df.sort_values(by=['column1', 'column2'], ascending=[True, False])

In [ ]:
#Select specific columns from a DataFrame.

selected_df = df[['column1', 'column2']]

#Grouping and Aggregation

In [ ]:
#Group by a column and calculate summary statistics.

grouped_df = df.groupby('column_name')['another_column'].mean()

In [ ]:
#Group by multiple columns and calculate summary statistics.

grouped_df = df.groupby(['column1', 'column2'])['another_column'].sum()

In [ ]:
#Calculate the total sum of a column grouped by another column.

total_sum = df.groupby('column_name')['another_column'].sum()

In [ ]:
#Get the count of rows for each group

count_rows = df.groupby('column_name').size()

In [ ]:
#Get the maximum value of a column for each group

max_value = df.groupby('column_name')['another_column'].max()

#Merging and Joining

In [ ]:
#Merge two DataFrames on a common column.
merged_df = pd.merge(df1, df2, on='common_column')

In [ ]:
#Perform a left join on two DataFrames
left_joined_df = pd.merge(df1, df2, on='common_column', how='left')

In [ ]:
#Perform an inner join on two DataFrames.

inner_joined_df = pd.merge(df1, df2, on='common_column', how='inner')

In [ ]:
#Perform a right join on two DataFrames.

right_joined_df = pd.merge(df1, df2, on='common_column', how='right')

In [ ]:
#Perform an outer join on two DataFrames

outer_joined_df = pd.merge(df1, df2, on='common_column', how='outer')

#Time Series Analysis

In [ ]:
#Convert a column to datetime.

df['date_column'] = pd.to_datetime(df['date_column'])

In [ ]:
#Set a column as the index.

df.set_index('date_column', inplace=True)

In [ ]:
#Resample a time series to a different frequency.

monthly_df = df.resample('M').sum()

In [ ]:
#Plot a time series.

import matplotlib.pyplot as plt
df['value_column'].plot()
plt.show()

#Advanced Data Manipulation

In [ ]:
#Pivot a DataFrame

pivot_df = df.pivot(index='date_column', columns='category_column', values='value_column')

In [ ]:
#Melt a DataFrame

melted_df = df.melt(id_vars=['id_column'], value_vars=['value_column1', 'value_column2'])

In [ ]:
#Create a new column based on conditions

df['new_column'] = df.apply(lambda row: 'value' if row['column'] > 0 else 'other_value', axis=1)

In [ ]:
#Apply a function to a column.

df['new_column'] = df['column'].apply(lambda x: x*2)

In [ ]:
#Apply a function to each row

df['new_column'] = df.apply(lambda row: row['column1'] + row['column2'], axis=1)

#Visualization

In [ ]:
#Plot a histogram of a column

df['column'].plot(kind='hist')
plt.show()

In [ ]:
#Plot a bar chart of categorical data.

df['category_column'].value_counts().plot(kind='bar')
plt.show()

In [ ]:
#Plot a scatter plot of two columns.

df.plot(kind='scatter', x='column1', y='column2')
plt.show()

In [ ]:
#Plot a box plot of a column.

df['column'].plot(kind='box')
plt.show()

In [ ]:
#Plot a correlation matrix.

import seaborn as sns
corr_matrix = df.corr()
sns.heatmap(corr_matrix, annot=True)
plt.show()

#Data Analysis

In [ ]:
#Calculate correlation between two columns

correlation = df['column1'].corr(df['column2'])
print(correlation)

In [ ]:
#Find the unique values in a column.

unique_values = df['column'].unique()
print(unique_values)

In [ ]:
#Find the value counts of a column.

value_counts = df['column'].value_counts()
print(value_counts)

In [ ]:
#Calculate descriptive statistics of a column

descriptive_stats = df['column'].describe()
print(descriptive_stats)

In [ ]:
#Identify and remove duplicate rows
df.drop_duplicates(inplace=True)

#Data Export

In [ ]:
#Export a DataFrame to a CSV file.

df.to_csv('output.csv', index=False)

In [ ]:
#Export a DataFrame to an Excel file

df.to_excel('output.xlsx', index=False)

In [ ]:
#Save a DataFrame to a SQL database.

from sqlalchemy import create_engine
engine = create_engine('sqlite:///database.db')
df.to_sql('table_name', con=engine, if_exists='replace', index=False)

In [ ]:
#Export a subset of DataFrame columns to a CSV file.

df[['column1', 'column2']].to_csv('output.csv', index=False)

In [ ]:
#Save a DataFrame to a JSON file

df.to_json('output.json')

#string method

In [ ]:
#Convert a column to lowercase.

df['column_name'] = df['column_name'].str.lower()

In [ ]:
#Convert a column to uppercase.

df['column_name'] = df['column_name'].str.upper()

In [ ]:
#Capitalize the first letter of each string in a column

df['column_name'] = df['column_name'].str.capitalize()

In [ ]:
#Strip leading and trailing whitespaces from a column

df['column_name'] = df['column_name'].str.strip()

In [ ]:
#Replace a substring within each string in a column.

df['column_name'] = df['column_name'].str.replace('old_substring', 'new_substring')

In [ ]:
#Check if a column contains a substring.

df['contains_substring'] = df['column_name'].str.contains('substring')

In [ ]:
#Find the length of each string in a column.

df['length'] = df['column_name'].str.len()

In [ ]:
#Extract a substring from each string in a column

df['substring'] = df['column_name'].str[0:5]  # Extracts the first 5 characters

In [ ]:
#Split strings in a column into multiple columns.

df[['new_col1', 'new_col2']] = df['column_name'].str.split('delimiter', expand=True)

In [ ]:
#Concatenate two string columns

df['new_column'] = df['column1'] + df['column2']